<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAilgTciBT9SCobi9nGjZ7CSh15ZByvDpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>549067874062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riegaMe</string>
	<key>PROJECT_ID</key>
	<string>riega-me</string>
	<key>STORAGE_BUCKET</key>
	<string>riega-me.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549067874062:ios:1319cc12ef266d3d8f015f</string>
</dict>
</plist>